/* About */
.section {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    width: 810px;
  }
}
.section__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.about {
  margin-bottom: 20px;
  max-width: 810px;
}

.text {
  margin: 0;
  text-align: justify;
  margin-bottom: 10px;
}

.text:last-child {
  margin-bottom: 0;
}

/* What I do */

.directions {
  margin-bottom: 20px;
  max-width: 810px;
}

.directions__title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 10px;
}

.directions__list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.directions__list li {
  /* border: 2px solid var(--border-color); */
  /* border-radius: 8px; */
  background-color: transparent;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.directions__icon {
  min-width: 50px;
}

.directions__icon use {
  fill: var(--hover-color);
}

.directions__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
}

.directions__text {
  margin: 0;
  font-size: 14px;
}

.skills__container {
  @media screen and (max-width: 1199px) {
    display: grid;
    grid-template-columns: 1fr;
    height: 250px;
    overflow: scroll;
    padding: 10px;
  }
}

.skills__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;

  @media screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
}

.skills__item {
  padding: 5px;
  border-radius: 8px;
  background-color: var(--frame-color);
  text-align: center;
  transition: scale var(--transition);
}

.skills__item:hover,
.skills__item:focus {
  scale: 1.04;
}
