.map {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.map__frame {
  width: 600px;
  height: 200px;
  border-radius: 5px;
}

.form {
  /* max-width: 600px; */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.form__field {
  flex-grow: 1;
  flex-basis: 300px;
  height: 40px;
  border: 1px solid var(--frame-color);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
}

.form__field:last-child {
  height: 100px;
  padding: 15px 10px;
}

.submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 40px;
  border: 1px solid var(--frame-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 700;
  transition: background-color var(--transition);
}

.submit:hover,
.submit:focus {
  background-color: var(--hover-color);
}
