.nav {
  background-color: var(--frame-color);
  padding-right: 22px;
  padding-left: 14px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  position: absolute;
  top: -8px;
  right: -8px;
  z-index: 5;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__list li {
  padding-top: 22px;
  padding-bottom: 14px;
  cursor: pointer;
}

.nav__link {
  transition: color var(--transition);
}
.nav__list li:hover > .nav__link,
.nav__list li:focus > .nav__link {
  color: var(--hover-color);
}
