.sidebar {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 320px;
  min-height: 100vh;
  background-color: var(--sidebar-color);
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 300px 22px rgba(224, 224, 224, 1);
  @media screen and (min-width: 480px) {
    min-width: 330px;
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    min-width: 300px;
    max-width: 300px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 330px;
    max-width: 330px;
  }
}

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--frame-color);
  margin-bottom: 15px;
}
.me__avatar {
  border-radius: 10px;
  margin: 0 auto;
}

.me__title {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.me__position {
  font-size: 14x;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}

.contacts {
  margin-bottom: 20px;
  padding: 0 10px;
}

.contacts__list li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.contacts__list li:last-child {
  margin-bottom: 0;
}

.contacts__icon {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.contacts__icon,
.social__icon use {
  fill: var(--font-color);
}

.contacts__label {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 5px;
}

.contacts__link,
.contacts__text {
  font-size: 16px;
  margin: 0;
  transition: color var(--transition);
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--hover-color);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

.social__icon {
  width: 40px;
  height: 40px;
}
.social__icon use {
  transition: fill var(--transition);
}
.social__icon:hover > use,
.social__icon:focus > use {
  fill: var(--hover-color);
}
