@import url(./styles/navigation.css);
@import url(./styles/sidebar.css);
@import url(./styles/about.css);
@import url(./styles/resume.css);
@import url(./styles/portfolio.css);
@import url(./styles/modal.css);
@import url(./styles/contact.css);
@import url(./styles/contactForm.css);
@import url(./styles/notFound.css);

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 400;
  box-sizing: border-box;

  --background-color: #dcdcdc;
  --sidebar-color: #f4f4f4;
  --content-color: #f4f4f4;
  --backdrop: rgba(53, 53, 53, 0.544);
  --font-color: #2a2a2a;
  --line-color: rgba(58, 58, 58, 0.258);
  --border-color: rgba(43, 43, 43, 0.445);
  --frame-color: rgba(230, 230, 230, 0.296);
  --hover-color: #7eb44f;
  --button-hover: #92cf5d;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--font-color);
  background-color: var(--background-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color);
  transition: color var(--transition);
}

a:hover,
a:focus {
  color: var(--hover-color);
}

button {
  display: inline-block;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.container {
  max-width: 320px;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    flex-direction: row;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    gap: 10px;
  }
}

.title {
  position: relative;
  font-size: 34px;
  margin-top: 0;
  @media screen and (min-width: 480px) {
    font-size: 36px;
  }
  @media screen and (min-width: 768px) {
    font-size: 38px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 40px;
  }
}

.title::before {
  display: inline-block;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--hover-color);
  position: absolute;
  top: 110%;
  content: ' ';
}

.content {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: var(--content-color);
  padding: 20px 15px;
  padding-top: 50px;
  border-radius: 10px;
  max-width: 320px;
  min-height: 100vh;
  width: 100%;

  @media screen and (min-width: 480px) {
    min-width: 480px;
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    min-width: 428px;
    max-width: 428px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 830px;

    max-width: 830px;
  }
}
